* {
    margin: 0;
    padding: 0;
   
}
/* Menu responsive bootstrap */

header{
    background-color: #fca311 !important;
}
.bg-body-tertiary{
    background-color: #fca311 !important;
}

nav a:hover {
    background-color: #e5e5e5;
    color: #000;

}
.img__index {
    display: block;
    margin: auto;
}

h1,
h2 {
    text-align: center;
}

.miembros {
    padding: 10px;
    text-align: center;
}

footer {
    text-align: right;
    height: 70px;
    background-color: black;
    color: white;
}

.intro{
    background: rgb(229,229,229);
background: linear-gradient(187deg, rgba(229,229,229,1) 36%, rgba(252,163,17,1) 61%, rgba(20,33,61,1) 90%);
}

.intro__p {
    text-align: center;
    text-decoration: dashed;
}

.intro__disco {
    width: 100%;
    background-color: #fff;
    background-image: url(../recursos/cuarteto_vinilo.jpg);
    background-size: 30%;
    background-repeat: repeat-x;
}

.historia__intro {
    background-color: #fff;
    background-image: url(../recursos/cuarte_4.jpg);
    color: black;
    font-size: larger;

}

/* Tamaño mediano */
@media (max-width: 768px){
    header {  display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 0.1fr 00.1fr 0.1fr 0.1fr;
        grid-auto-columns: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "img_logo"
          "menu_historia"
          "menu_discografia"
          "menu_fechas"
          "menu_contacto";
      }
      
      .img_logo { grid-area: img_logo; }
      
      .menu_historia { grid-area: menu_historia; }
      
      .menu_discografia { grid-area: menu_discografia; }
      
      .menu_fechas { grid-area: menu_fechas; }
      
      .menu_contacto { grid-area: menu_contacto; }
    

 }


/* Tamaño pequeño */
@media (max-width: 420px){
    header {  display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 0.1fr 00.1fr 0.1fr 0.1fr;
        grid-auto-columns: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "img_logo"
          "menu_historia"
          "menu_discografia"
          "menu_fechas"
          "menu_contacto";
      }
      
      .img_logo { grid-area: img_logo; }
      
      .menu_historia { grid-area: menu_historia; }
      
      .menu_discografia { grid-area: menu_discografia; }
      
      .menu_fechas { grid-area: menu_fechas; }
      
      .menu_contacto { grid-area: menu_contacto; }
      
      
}